@media screen and (max-width:992px){
    #navigation{
        padding:0;
    }
    .img-header{
        width: 180px;
        height: 100px;
    }
    header{
        background: #fff;
        position: fixed;
        width: 100%;
        z-index: 1000;
        top: 0;
    }
    #navigation{
        background-color: #fff;
    }
    #calculator{
        margin-top: 200px;
    }
    #nav-item:hover:after{
        display: none;
    }
    .active, .accordion:hover {
        background-color: #0078ae;
    }
    
    .accordion:after {
    content:"";
    display: block;
    width: 16px;
    height: 16px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    float: right;
    z-index: 1;
    transform: rotate(135deg);
    transition: transform .1s;
    }
    .accordion::before{
        content:"";
        border: 1px solid #fff;
        position: absolute;
        right: 4px;
        top: 8px;
        width: 40px;
        height: 40px;
        border-radius: 3px;
    }
    
    .active:after {
        transform: rotate(315deg);
    }
    .panel{
        overflow: hidden;
        max-height: 0;
    }
    #footer-link{
        padding-top: 5px;
        font-size: 20px;
    }
    #navbar-scroll{
        max-height:70vh;
        overflow-y: scroll;
    }
}
@media screen and (max-width:1120px){
    #nav-item{
        margin-left: 15px;
    }
}
@media screen and (max-width:1200px){
    #nav-item{font-size: 14px;}
    #h1-form{
        font-size: 30px;
    }
    #h1-calc{
        font-size: 30px;
    }
}